<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">


<head>
    <meta charset="UTF-8">
    <title>Success checkout</title>
    <style>
    .outline {
    border: 1px solid black;
    padding: 0 10px;
    color:black;
    background-color: #D3D3D3;
   }
        .reg{
        width: auto;
        font-size: 20px;
        padding: 6px 30px 6px 30px;
        color: white;
        background-color: #0e852a;
}
.textR{
    font-weight: bold ;
    height: 140px;
    font-size: 20px;
    width: auto;
    border-bottom: white;
}
</style>
</head>

<body>

<div class="reg">
    <p>
        <a th:href="@{/customer}">На главную</a>
        <a th:href="@{/customer/history}">История покупок</a>
        <a th:href="@{/logout}">Выйти</a>
    </p>
</div>

<div class="textR">
    <h1>Заказ успешно оформлен</h1>
</div>

</body>
</html>