<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>

<div>
    <p>
        <a th:href="@{/}">Домашняя страница</a>
    </p>
</div>

<form action="#" th:action="@{/login}" th:object="${user}" method="post">
    <p th:if="${param.error}" class="error">Wrong user or password.</p>
    <p th:if="${param.logout}" class="error">You have been logged out.</p>
    Login:
    <div>
        <input type="text" th:field="*{username}"/>
    </div>
    Password:
    <div>
        <input type="password" th:field="*{password}"/>
    </div>

    <div>
        <input type="submit" value="Login">
    </div>

</form>

</body>

</html>